*{
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}
.main{
    height: 100%;
    width: 100%;
    background-color: rgb(207, 148, 233);
    position: absolute;
}
.form-box{
    width: 350px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background-color: rgb(212, 63, 231);
    padding: 5px;
    /* overflow: hidden; */
    border-radius: 5px;
}
#btn button{
    border-radius: 30px;
    color: #ffffff;
    background-color: transparent;
    /* text-decoration: none; */
    /* border: none; */
    /* margin-left: 40px; */
}
/* .right-btn{
    left: 100px;
} */
.left-btn{
    float: right;
}
.toggle-btn{
    /* padding: 25px 50px; */
    margin: 15px auto;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    text-align: center;
    color: #ffffff;
}
.group-input{
    top: 150px;
    position: absolute;
    width: 280px;
    text-align: center;
    transition: .5;
}
.input-field, .submit-btn{
    border: 1px #ffffff solid;
    border-radius: 40px;
    width: 200px;
    padding: 10px 0;
    margin: 5px 0;
    background: transparent;
    outline: none;
    display: block;
    position: relative;
    left: 25%;
    
}
.submit-btn{
    background-color: #ffffff;
    color: rgb(212, 63, 231);
    cursor: pointer;
}
.check-box{
    margin: 25px 10px 30px 0;
}
span{
    font-size: 15px;
    color: #ffffff;
    /* position: absolute; */
    /* margin: 0 0 8px 0px; */
}
#login{
    left: 15px;
}
#register{
    left: 350px ;
}